@{
    ViewData["Title"] = "Product details";
}

@section Scripts {
    <script>
        const productContainer = document.getElementById("product-container");
        const nameContainer = document.getElementById("name");

        function productTemplate(data) {
            return `<img class="image" src="${data.images[0]}">
                    <div class="info py-2 px-2">
                        <div class="row px-3">
                            <div class="cart">
                                <p class="mb-0 sm-font">TILFØJ</p>
                            </div>
                            <div class="order">
                                <p class="mb-0 sm-font"><a href="/products/details/${data.id}">LÆS MERE</a></p>
                            </div>
                        </div>
                        <div class="text-left">
                            <h5 class="mb-0 mt-2">${data.name.dk}</h5>
                        </div>
                        <div class="row px-3">
                            <h5>${data.price}</h5>
                        </div>
                    </div>`
        }

        async function getData() {
            var request = await fetch(`@(Model.ProductsAPIEndpoint)products/@(ViewBag.ProductId)`);
            var response = await request.json();

            var tmpl = productTemplate(response);
            const message = document.createElement("div");
            message.setAttribute("class", "block text-center");
            message.innerHTML = tmpl;
            productContainer.appendChild(message);

            nameContainer.appendChild(document.createTextNode(response.name.dk));
        }

        getData();
    </script>
}

<div class="text-center">
    <h1 class="display-4">Produkt - <span id="name"></span></h1>
</div>

<div id="product-container" class="container-fluid px-5 py-5 mx-auto">
</div>