@model Bestseller.Web.Models.ProductModel

@{
    ViewData["Title"] = "Product - " + Model.Product.Name.En;
    var product = Model.Product;
}

<div class="text-center">
    <h1 class="display-4">Product - @Model.Product.Name.En</h1>
</div>

<div class="container-fluid px-5 py-5 mx-auto">
    <div class="block text-center">
        <img class="image" src="@(product.Images != null ? product.Images[0] : "")">
        <div class="info py-2 px-2">
            <div class="row px-3">
                <div class="cart">
                    <p class="mb-0 sm-font">ADD TO BAG</p>
                </div>
                <div class="order">
                    <p class="mb-0 sm-font">ORDER NOW</p>
                </div>
            </div>
            <div class="text-left">
                <h5 class="mb-0 mt-2">@product.Name.En</h5>
            </div>
            <div class="row px-3">
                <h5>@product.Price</h5>
            </div>
        </div>
    </div>
</div>
