@model Bestseller.Web.Models.ProductsModel

@{
    ViewData["Title"] = "Products";
}

<div class="text-center">
    <h1 class="display-4">Products</h1>
</div>

<div class="container-fluid px-5 py-5 mx-auto">
    @for (var i = 0; i < Model.Products.Count; i++)
    {
        var product = Model.Products[i];

        <div class="block text-center">
            <img class="image" src="@(product.Images != null ? product.Images[0] : "")">
            <div class="info py-2 px-2">
                <div class="row px-3">
                    <div class="cart">
                        <p class="mb-0 sm-font">ADD TO BAG</p>
                    </div>
                    <div class="order">
                        <p class="mb-0 sm-font"><a asp-controller="products" asp-action="details" asp-route-id="@product.Id">READ MORE</a></p>
                    </div>
                </div>
                <div class="text-left">
                    <h5 class="mb-0 mt-2">@(product.Name.En == null ? product.Name.Dk : product.Name.En)</h5>
                </div>
                <div class="row px-3">
                    <h5>@product.Price</h5>
                </div>
            </div>
        </div>
    }
</div>
