@model Bestseller.Frontend.Models.EndpointModel

@{
    ViewData["Title"] = "Home Page";
}

@section Scripts {
    <script>
        const inputField = document.getElementById("autoComplete")

        new autoComplete({
            data: {
                src: async function () {
                    var request = await fetch(`@(Model.SearchAPIEndpoint)search/${inputField.value}`);
                    var response = await request.json();
                    return response;
                },
                key: ["name"],
                results: (list) => {
                    return list;
                }
            },
            debounce: 300,
            threshold: 2,
            searchEngine: function (query, record) {
                return record;
            },
            resultsList: {
                noResults: (list, query) => {
                    // No Results List Message
                    const message = document.createElement("li");

                    message.setAttribute("class", "no_result");
                    message.setAttribute("tabindex", "1");
                    message.innerHTML = `
                                    <span style="display: flex; align-items: center; font-weight: 100; color: rgba(0,0,0,.2);">"${query}" gav ingen resultater.</span>
                                `;

                    list.appendChild(message);
                },
                maxResults: 6,
            },
            resultItem: {
                content: (data, element) => {
                    // Modify Results Item Content
                    element.innerHTML = `
                                    <a href="/products/details/${data.value.id}"><span style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;" class="display-name">${data.match}</span>
                                    <span style="display: flex; align-items: center; font-size: 13px; font-weight: 100; text-transform: uppercase; color: rgba(0,0,0,.2);">ID: ${data.value.id}</span></a>
                                `;
                }
            },
        });
    </script>
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="autoComplete_wrapper">
        <input id="autoComplete" type="text" tabindex="1" placeholder="Søg...">
    </div>
</div>